name: Release

on:
  workflow_call:
    inputs:
      prerelease:
        type: boolean
        required: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set env
        run: echo "VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Set package version
        run: |
          echo $(jq --arg v "${{ env.VERSION }}" '(.version) = $v' package.json) > package.json
          echo "export const VERSION='${{ env.VERSION }}'" > ./version.ts

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish release candidate
        if: inputs.prerelease
        run: npm publish --access public --tag=canary --provenance

      - name: Publish
        if: "!inputs.prerelease"
        run: npm publish --access public --provenance
